
<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.contacts" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">


    <name>Gerenciador de Contatos</name>
        <description>
            Gerenciador de Contatos
        </description>
        <author href="http://fibr.br" email="walesca.andrade@icloud.com">
            Walesca Andrade
        </author>
        <preference name="Orientation" value="portrait"/>
        <preference name="Fullscreen" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <platform name="android">
            <preference name="Fullscreen" value="true" />
        </platform>


            <!--
            <icon src="resources/icon.png" />
            <splash src="resources/splash.png" />
            -->


</widget>
